.group
  .content
    %h2 Sorry, you must log in to see this content
    %br
    = form_for 'session', :url => sessions_url, :html => { :id => 'login-form' } do
      = render "/person_sessions/form"
      = submit_tag "Login"
  .clear
