.group
  .content
    #main_image
      = image_tag "/images/solutions/custom/custom-main.png?1295330198", :alt => "Custom engineered solutions"
    %br
    %br
    %br
    %h2 Sorry, We've Lost Your Place (404)
    %p
      Either we've removed the content you're looking for or someone's playing a trick on you.
      Please double-check the URL, or use the links above to find your way.
    
  .clear
.clear