.group
  .content
    %h2 Standfast & GSA
    %p
      We're currently in the process of being added to the
      = link_to 'GSA Schedules program.', 'http://www.gsa.gov/'
    %p
      Please contact Joseph Caputo for more information.
      %br
      134 E Brookfield Ave.
      %br
      Mount Prospect, IL 60056
      %br
      (224) 532-1940
      %br
      = mail_to 'abilitylogistics@hotmail.com', 'Email', :encode => :javascript
      
