.group
  .content
    .group
      %h2 Disclaimer
      %p
        Whilst every effort has been made to ensure that the information contained in this publication is accurate, Standfast Corporation gives no warranty regarding this information and accepts no liability for any inconvenience, or any direct or consequential loss, arising from reliance upon this information. Readers should undertake their own enquiries in relation to any of the facts referred to before acting upon them.
    .group
      %h3 Privacy Statement
      %p
        Whilst every effort has been made to ensure that the information contained in this publication is accurate, Standfast Corporation gives no warranty regarding this information and accepts no liability for any inconvenience, or any direct or consequential loss, arising from reliance upon this information. Readers should undertake their own enquiries in relation to any of the facts referred to before acting upon them.