.group.content
  %h2 Fall Protection &amp; Safety Testimonials
  
  #mclellan.quote
    %p McLellan Equipment, Inc. was included in a lawsuit 5 years ago involving one of our good customers. This customer had an employee, who received all the safety training the company offered, but still did not use the safety training to 'do the right thing.' This employee took it upon himself to dix a loading arm on a water tower by getting on top of a water truck, using it as a ladder. In doing so, the employee dell off the truck. The employee was paralyzed as a result of the fall. Workman's Com. was in effect, but the employee hired an attorney and filed a lawsuit against his employer and McLellan Equipment, Inc. The only reason McLellan Equipment, Inc. is named in the lawsuit is because McLellan Inc. is the manufacturer of the Water Truck Tank Body. As a 'deep pocket' McLellan Equipment, Inc. settled out of court at close to one million dollars! If We (McLellan Equipment, Inc.) had installed a TRAM Fall Protection System, I am confident that neither the lawsuit nor the accident would have happened. McLellan Equipment, Inc. is now an authorized dealer of Standfast Products.
  .author Scott McLellan - VP McLellan Industries, Inc.
  
  #superior.quote
    %p The Standfast TRAM is the only system that has positively addressed all of the hazards associated with climbing atop cargo tanks, including ascending and descending. The manner in which its use was embraces by our employees is proof of its ingenious design. Its rugged constriction has given us years of service with a minimum of service needs. Superior highly recommends the Standfast TRAM to all cargo tank and dry bulk operators.
  .author Steve Mahoney - Regulatory Manager, Superior Transportation Logistics L.L.C.
  
  #euclid.quote 
    %p The Euclid Chemical Company through its management team has made a commitment to provide the safest possible working environment for its many employees. The most challenging issue we found was to provide fall protection for the employees and drivers at our nine concrete admixture plants in the Us whose jobs involved climbing on to and off of our tanker delivery units. We were able to install a cable and harness based system in our plants, but that did nothing to protect our employees outside of the loading bays and for the drivers in the field. This system was effective but did not address the most hazardous movement which was transitioning from ladder to catwalk and back. We has not, in our history had an incident of an employee falling off of a tanker unit but knew that such an incident would be very serious.
    %p Through a trade publication an advertisement for Standfast was brought to our attention. After our initial contact with Standfast we were able to obtain literature and visit another customer of theirs for a demonstration of the TRAM system. There was no question that we had found a solution to our dilemma. After receiving the support form Euclid's management team we began a project to purchase and install these system on all of our delivery units.
    %p Today the use of the TRAM system is mandatory and has been well received by our employees. Today all employees involved in these operations are issued a belt and instructions on using the TRAM system.
    %p These systems have been in use for approximately two year. I am confident that we provided the best possible solution for our employees in keeping with the commitment we made to a safe workplace.
  .author Raymond M Adams - VP Manufacturing, The Euclid Chemical Company
  
  #ryder.quote 
    %p The TRAM system has been a great addition to our safety tools. The drivers were apprehensive at first, but after seeing how easy the TRAM is to use, they quickly became very comfortable with using it. They now climb on our trailers with the ultimate confidence in knowing there is no risk of falling.
  .author John Sandusky - Senior Logistics Manager, Ryder
  
  #bulkmatic.quote 
    %p We reviewed all of the fall protection systems available on the market and found the TRAM system to be lighter, easier to install and cheaper than any other system. It performs in all weather conditions, requires very little maintenance and, most importantly, I found it to be the safest system available.
  .author A.Y. Bingham - Owner, Bulkmatic Transport USA
  
  .clear
  
.group.content
  %h3 T-Line Testimonials
  
  #meridian.quote
    %p I recognised that users enjoyed the freedom of a typical SRL device but also encountered many situations where they were being misused, which was placing the users at risk of serious injury or worse if they fell. I was surprised by the lack of innovation in such fall arrest devices so I set about designing a Fall Protection System that provides the users with the level of freedom that they desire, without the limitations such as pendular swings, large fall arrest distances, snagging on overhead obstructions and high anchorage forces etc. The T-Line is the only device that provides two retractable lifelines to facilitate both horizontal and vertical movement in a plane, without exposing the user to the risk of a pendular swing. This provides the user with a superior level of freedom in use, with the added benefit of increased levels of safety. It is also the only device to allow work beneath overhead objects such as gantry cranes and structural steelwork and pipelines etc, without snagging. The T-Line will arrest a fall in a much shorter distance than a typical static line with energy absorbing lanyard etc. The T-line is also the only horizontal system that facilitates rescue via its in-built retrieval mechanism. Whats more, the T-Line Safety System also enables the rescuers to bring the user back to safety without having to position themselves above the user, which helps avoid placing the rescuers themselves at risk. The T-Line is all this and MORE...
    %p The T-Line Safety System design provides truly unique advantages in its use and offers fall protection solutions for applications previously not catered for by traditional devices.
  .author
    Leigh Dowie - Director, Meridian Safety
    %br
    Western Australia
  
  .clear